.site-menu {
	@include position(fixed, 0 0 0 null);
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: $gray-lighter;
	@include transform(translateX(100%));
	@include transition(transform 0.2s ease-in-out);
	z-index: 2900;
	padding-top: $header-on-scroll-height;
	.mobile-nav-display-triggers {
		@include position(fixed, 0 0 0 null);
		@include transform(translateX(100%));
		@include transition(transform 0.2s ease-in-out);
		width: 100%;
		height: 100%;
		min-height: 100%;
		padding: ($header-on-scroll-height + 21) 0;
		overflow-y: scroll;
		> ul {
			@include list-unstyled;
			> li {
				a {
					display: block;
					padding: $container-fluid;
					text-transform: uppercase;
					@include thin;
					font-size: 21px;
					color: $gray-dark;
				}
				&:nth-child(odd) {
					background-color: $gray-light;
				}
				&:nth-child(even) {
					background-color: $gray-lighter;
				}
			}
		}
	}
	.mobile-nav-display {
		@include position(fixed, 0 0 0 null);
		width: 100%;
		height: 100%;
		min-height: 100%;
		background: $gray-lighter;
		@include transform(translateX(100%));
		@include transition(transform 0.2s ease-in-out);
		z-index: 2901;
		padding: ($header-on-scroll-height + 21) 0;
		overflow-y: scroll;
		.back {
			display: block;
			padding: 0 $container-fluid;
			&:before {
				content: "\e60b";
				font-family: 'icomoon';
				margin-right: 7px;
			}
		}
		h1 {
			text-transform: uppercase;
			@include bold;
			color: $gray-dark;
			padding: 0 $container-fluid;
			span {
				color: $gray-darker;
			}
		}
		> ul {
			@include list-unstyled;
			li {
				a {
					display: block;
					text-transform: uppercase;
					padding: ($container-fluid - 2) $container-fluid;
					color: $gray-darker;
					font-size: $font-size-base;
					span {
						// display: block;
						// color: $brand-primary;
					}
				}
				&:nth-child(odd) {
					background-color: $gray-lighter;
				}
				&:nth-child(even) {
					background-color: $gray-light;
				}
			}
		}
	}
}

.site-wrapper {
	&.menu-on {
		.site-menu,
		.mobile-nav-display-triggers {
			@include transform(translateX(0px));
			@include transition(transform 0.2s ease-in-out);
		}
	}
	@for $i from 1 through 10 {
		&.display.mobile-nav-display-#{$i} {
			#mobile-nav-display-#{$i} {
				@include transition(transform 0.2s ease-in-out);
				@include transform(translateX(0px));
			}
		}
	}
}








