// Form overrides 
.select-override {
  @include user-select(none);
  position: relative;
  text-indent: 1px;
  text-overflow: "";
  &.input-lg {
    line-height: 28px;
    // background: white url(/img/arrow-down.svg) no-repeat 98%;
  }
	@include thin;
	color: $gray;
	text-transform: uppercase;
}

// PLAEHOLDERS
input,
textarea {
	@include placeholder {
		@include thin;
		color: $gray-light;
		text-transform: uppercase;
	}
}

.form-custom {
	label {
		@include light;
		// text-transform: uppercase;
		color: $gray;
		font-size: $font-size-h4;
	}
}

// ERROR DIVS
.errordiv label {
	display: block;
	font-size: 12px;
	color: $brand-danger;
	&:before {
		content: "* ";
	}
}